* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    background-color: rgb(82, 79, 79);
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
}

.logo {
    width: 8rem;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

.nav-section {
    padding-top: 0.8rem;
}

.nav-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.nav-section a {
    font-size: 1rem;
    color: whitesmoke;
    text-decoration: none;
}

.platforms {
    display: flex;
    gap: 0.5rem;
}

.platforms a {
    display: inline-block;
}


/* DESKTOP */
@media screen and (min-width: 768px) {

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-section ul {
        flex-direction: row;
        gap: 2rem;
    }

}